* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.header-picture {
    background-image: url(img/header-picture.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.button {
    width: 200px;
    height: 45px;
    border: none;
    border-radius: 100px;
    background: #4985ff;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

.wrapper-width {
    max-width: 1113px;
    margin: 0 auto;
}

/* HEADER */
.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list {
    list-style-type: none;
}

.menu__link {
    position: relative;
    display: inline-block;
    padding: 40px 20px;
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}
.menu__link::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .6s ease;
}
.menu__link:hover::after {
    width: 100%;
    transition: .6s ease;
}

/* HR */
hr {
    border: none;
    height: 1px;
    background: #a1a1a1;
}

/* MAIN */
.section_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 78vh;
    color: #fff;
}

.title_main {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 20px;
}

.subtitle_main {
    max-width: 829px;
    font-size: 48px;
    font-weight: 800;
    padding-bottom: 50px;
}

.button_main:hover {
    animation: jump 1s;
}

/* ABOUT ONE */

.about-one-color {
    background: #e5e5e5;
    text-align: center;
}

.section_about-one {
    padding: 105px 0;
}

.title_about {
    max-width: 739px;
    margin: 0 auto;
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 50px;
    color: #323232;
}

.subtitle_about {
    max-width: 730px;
    margin: 0 auto;
    padding-bottom: 70px;
    color: #999;
}

.wrapper-services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 55px;
}

.services-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper_services-element__logo {
    position: relative;
    margin-right: 52px;
}
.wrapper_services-element__logo::before {
    position: absolute;
    content: '';
    top: -50%;
    left: -50%;
    width: 90px;
    height: 90px;
    background-color: inherit;
    border: 1px solid #4985ff;
    border-radius: 100%;
    transform: translate(-5px, -5px);
}
.wrapper_services-element__logo::after {
    position: absolute;
    content: '';
    top: -50%;
    left: -50%;
    width: 110px;
    height: 110px;
    background-color: inherit;
    border: 1px solid #cfcdcd;
    border-radius: 100%;
    transform: translate(-15px, -15px);
}

.services-elem__logo {
    vertical-align: top;
}

.description_services-element {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 69px;
}

.title_services-element {
    text-align: left;
    padding-bottom: 12px;
}

.subtitle_services-element {
    max-width: 222px;
    text-align: left;
    color: #999;
}

@keyframes jump {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0px);
    }
}