* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.header-picture {
    background-image: url(img/header-picture.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.button {
    width: 200px;
    height: 45px;
    border: none;
    border-radius: 100px;
    background: #4985ff;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

.wrapper-width {
    max-width: 1113px;
    margin: 0 auto;
}

.wrapper-width_plus-padding {
    padding-bottom: 85px;
}

/* HEADER */
.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list {
    list-style-type: none;
}

.menu__link {
    position: relative;
    display: inline-block;
    padding: 40px 20px;
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}
.menu__link::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .6s ease;
}
.menu__link:hover::after {
    width: 100%;
    transition: .6s ease;
}

/* HR */
.hr-for-header {
    border: none;
    height: 1px;
    background: #a1a1a1;
}

.hr-for-about {
    border: none;
    height: 1px;
    background: #e0e0e0;
}

/* MAIN */
.section_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 78vh;
    color: #fff;
}

.title_main {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 20px;
}

.subtitle_main {
    max-width: 829px;
    font-size: 48px;
    font-weight: 800;
    padding-bottom: 50px;
}

.button_main:hover {
    animation: jump 1s;
}

/* ABOUT ONE */

.about-one-color {
    background: #e5e5e5;
}

.section_about-one {
    padding: 105px 0;
    text-align: center;
}

.title_about-one {
    max-width: 739px;
    margin: 0 auto;
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 50px;
    color: #323232;
}

.subtitle_about-one {
    max-width: 730px;
    margin: 0 auto;
    padding-bottom: 70px;
    color: #999;
    font-weight: 400;
}

.wrapper-services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 55px;
}

.services-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper_services-element__logo {
    position: relative;
    margin-right: 52px;
}
.wrapper_services-element__logo::before {
    position: absolute;
    content: '';
    top: -50%;
    left: -50%;
    width: 90px;
    height: 90px;
    background-color: inherit;
    border: 1px solid #4985ff;
    border-radius: 100%;
    transform: translate(-5px, -5px);
}
.wrapper_services-element__logo::after {
    position: absolute;
    content: '';
    top: -50%;
    left: -50%;
    width: 110px;
    height: 110px;
    background-color: inherit;
    border: 1px solid #cfcdcd;
    border-radius: 100%;
    transform: translate(-15px, -15px);
}

.services-elem__logo {
    vertical-align: top;
}

.description_services-element {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 69px;
}

.title_services-element {
    text-align: left;
    padding-bottom: 12px;
    font-size: 18px;
    font-weight: 600;
}

.subtitle_services-element {
    max-width: 222px;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: #999;
}

/* ABOUT TWO PART ONE*/
.about-two-color {
    background: #f6f6f8;
    text-align: center;
}

.article_about-two-part-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
}

.description_about-two {
    text-align: left;
}

.title_about-two {
    max-width: 424px;
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 40px;
    color: #323232;
}

.subtitle_about-two {
    max-width: 489px;
    padding-bottom: 30px;
    color: #999;
    font-weight: 400;
}

.link_about-two {
    font-weight: 500;
}

.wrapper_picture-about-two {
    position: relative;
    overflow: hidden;
    width: 500px;
    height: 400px;
    border-radius: 30px;
}

.picture-about-two {
    position: absolute;
    top: -10px;
    left: -10px;
    vertical-align: top;
}

/* ABOUT TWO PART TWO*/
.article_about-two-part-two {
    display: flex;
    justify-content: space-between;
    padding: 70px 0;
}

.project-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.wrrapper_project-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.picture-project-element {
    vertical-align: top;
}

.number-projects {
    font-size: 36px;
    font-weight: 400;
    color: #000;
}

.title_project-element {
    font-size: 16px;
    font-weight: 400;
    line-height: 25.36px;
    color: #999;
}

/* ABOUT THREE*/
.about-three-color {
    background: linear-gradient(to bottom, #5f12d0 50%, #e5e5e5 50%);
}

.wrapper_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 70px;
}

.title_about-three {
    max-width: 540px;
    font-size: 36px;
    font-weight: 700;
    color: #fff;
}

.description_about-two_width {
    max-width: 350px;
}

.services-picture {
    vertical-align: top;
}

.title_services {
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
    padding-bottom: 30px;
}

.title_services>span {
    color: #4985ff;
}



@keyframes jump {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0px);
    }
}